.header .admin-dropdown-menu{
	margin-top: 0px!important;
}
.level-1-menu{
	border-bottom: 2px solid #253544;
}
.side-menu>li a:focus,.side-menu>li a:hover {
    color: #fff;
    background-color: #425c78
}
.page-sidebar ul li a{
	padding: 15px 15px;
}
.ibox .ibox-head .ibox-tools>a,.ibox .ibox-head .ibox-tools>a:hover{
	color: #fff;
	font-size: 13px;
}
.glyphicon{
	font-size: 10px;
}
.page-content{
	margin-bottom: 50px;
}
.hr-25{
	margin: 20px -25px 20px -25px;
}
.step{
	border: 1px solid #777;
	height: 25px;
	width: 25px;
	text-align: center;
	border-radius: 30px;
	background: #e7e7e7;
	color: #777;
}
.step span{
	position: relative;
	top: 2px;
	font-weight: bold;
}
.active-step{
	background: #777;
	color: #fff;
}
.bg-light-dark{
	background-color:#34495f;
	color: #fff;
}
.summary{
	margin-bottom: 15px;
}
.ibox{
	border-radius: 2px;
}
.link{
	cursor: pointer;
}
.ibox-tools{
	margin-right: 5px;
}
.boxed{
	border: 1px solid #e7e7e7;
	border-radius: 3px;
}
.card-header{
	background-color: #f5f5f5;
	border: 1px solid #e7e7e7;
}
.ibox .ibox-head{
	background-color: #f5f5f5;
	border-top: 1px solid #e7e7e7;
}
td a{
	color: #007bff;
}
.highcharts-root{
	font-family: "Poppins"!important;
}
.hint-block{
	font-style: italic;
	color: #777;
	font-size: 12px;
}
.photos-thumbs{
	width: 50px;
}